.arrow-size {
  width: 38px;
  height: 38px;
}

.card-size {
  min-width: 240px;
}

@media screen and (max-width: 470px) {
  .btn-back {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
  }
}
